<br>
<p>
    <span class="lang-en">Click on the flyer below to download a pdf.</span>
    <span class="lang-zh">点击下方海报下载 PDF 版本。</span>
</p>

<table class="flyers">
    <tr>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-long-term-big_screen.png">
                <img src="assets/posters/Fun_Workshop-long-term-big_screen.png" alt="Fun Workshop long term" style="width:80%">
            </a>
        </td>
    </tr>
    <tr>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-03-poster-CN.png">
                <img src="assets/posters/Fun_Workshop-03-poster-CN.png" alt="Fun Workshop 03 CN" style="width:80%">
            </a>
        </td>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-03-poster-EN.png">
                <img src="assets/posters/Fun_Workshop-03-poster-EN.png" alt="Fun Workshop 03 EN" style="width:80%">
            </a>
        </td>
    </tr>
    <tr>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-01-poster-CN.pdf">
                <img src="assets/posters/Fun_Workshop-01-poster-CN.png" alt="Fun Workshop 01 CN" style="width:80%">
            </a>
        </td>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-01-poster-EN.pdf">
                <img src="assets/posters/Fun_Workshop-01-poster-EN.png" alt="Fun Workshop 01 EN" style="width:80%">
            </a>
        </td>
    </tr>
</table>