<br>
<p>
    <span class="lang-en">Click on the flyer below to download</span>
    <span class="lang-zh">点击下方海报下载</span>
</p>

<table class="flyers">
    <tbody class="lang-en">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-long-term-big_screen.png">
                    <img src="assets/posters/Fun_Workshop-long-term-big_screen.png" alt="Fun Workshop long term" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>
                    Fun Workshop long term
                </p>
            </td>
        </tr>
    </tbody>
    <tbody class="lang-zh">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-long-term-big_screen.png">
                    <img src="assets/posters/Fun_Workshop-long-term-big_screen.png" alt="Fun Workshop long term" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>
                    Fun Workshop 长期海报
                </p>
            </td>
        </tr>
    </tbody>
    <tbody class="lang-en">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-03-poster-EN.png">
                    <img src="assets/posters/Fun_Workshop-03-poster-EN.png" alt="Fun Workshop 03 EN" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>Fun Workshop 3rd EN</p>
            </td>
        </tr>
    </tbody>
    <tbody class="lang-zh">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-03-poster-CN.png">
                    <img src="assets/posters/Fun_Workshop-03-poster-CN.png" alt="Fun Workshop 03 CN" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>Fun Workshop 第三场中文版</p>
            </td>
        </tr>
    </tbody>
    <tbody class="lang-en">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-01-poster-EN.pdf">
                    <img src="assets/posters/Fun_Workshop-01-poster-EN.png" alt="Fun Workshop 01 EN" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>Fun Workshop 1st EN</p>
            </td>
        </tr>
    </tbody>
    <tbody class="lang-zh">
        <tr>
            <td class="flyer" colspan="2">
                <a href="assets/posters/Fun_Workshop-01-poster-CN.pdf">
                    <img src="assets/posters/Fun_Workshop-01-poster-CN.png" alt="Fun Workshop 01 CN" style="width:80%">
                </a>
            </td>
        </tr>
        <tr>
            <td class="flyer" colspan="2">
                <p>Fun Workshop 第一场中文版</p>
            </td>
        </tr>
    </tbody>
</table>