<br>
<p>
    <span class="lang-en">Click on the flyer below to download</span>
    <span class="lang-zh">点击下方海报下载</span>
</p>

<table class="flyers">
    <tr>
        <td class="flyer" colspan="2">
            <a href="assets/posters/Fun_Workshop-long-term-big_screen.png">
                <img src="assets/posters/Fun_Workshop-long-term-big_screen.png" alt="Fun Workshop long term" style="width:80%">
            </a>
            <p>
                <span class="lang-en">Fun Workshop long term</span>
                <span class="lang-zh">Fun Workshop 长期海报</span>
            </p>
        </td>
    </tr>
    <tr>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-03-poster-CN.png">
                <img src="assets/posters/Fun_Workshop-03-poster-CN.png" alt="Fun Workshop 03 CN" style="width:80%">
            </a>
            <p>
                <span class="lang-en">Fun Workshop 3rd CN</span>
                <span class="lang-zh">Fun Workshop 第三场中文版</span>
            </p>
        </td>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-03-poster-EN.png">
                <img src="assets/posters/Fun_Workshop-03-poster-EN.png" alt="Fun Workshop 03 EN" style="width:80%">
            </a>
            <p>
                <span class="lang-en">Fun Workshop 3rd EN</span>
                <span class="lang-zh">Fun Workshop 第三场英文版</span>
            </p>
        </td>
    </tr>
    <tr>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-01-poster-CN.pdf">
                <img src="assets/posters/Fun_Workshop-01-poster-CN.png" alt="Fun Workshop 01 CN" style="width:80%">
            </a>
            <p>
                <span class="lang-en">Fun Workshop 1st CN</span>
                <span class="lang-zh">Fun Workshop 第一场中文版</span>
            </p>
        </td>
        <td class="flyer">
            <a href="assets/posters/Fun_Workshop-01-poster-EN.pdf">
                <img src="assets/posters/Fun_Workshop-01-poster-EN.png" alt="Fun Workshop 01 EN" style="width:80%">
            </a>
            <p>
                <span class="lang-en">Fun Workshop 1st EN</span>
                <span class="lang-zh">Fun Workshop 第一场英文版</span>
            </p>
        </td>
    </tr>
</table>