<h2 class="lang-en">Workshop Program</h2>
<h2 class="lang-zh">工作坊日程</h2>

<table id="Shiyao Zhang">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">March 10</span>
            <span class="lang-zh">3月10日</span>
        </td>
        <td class="title">
            Vision of MAS in our life
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Shiyao Zhang
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <span class="lang-en"><a href="https://www.bilibili.com/video/BV1rvcozUECx/?share_source=copy_web&vd_source=75e254b62d77146e4012dd5be0c0bf32" target="_blank">Video recording on bilibili</a></span>
            <span class="lang-zh"><a href="https://www.bilibili.com/video/BV1rvcozUECx/?share_source=copy_web&vd_source=75e254b62d77146e4012dd5be0c0bf32" target="_blank">现场视频</a></span>
        </td>
    </tr>
</table>

<table id="Shiyao Zhang">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">March 24</span>
            <span class="lang-zh">3月24日</span>
        </td>
        <td class="title">
            蛐蛐一下科研
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Shiyao Zhang
        </td>
    </tr>
    <tr>
        <td class="abstract">

        </td>
    </tr>
</table>

<table id="Siqi Liu, Shiyao Zhang">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">April 14</span>
            <span class="lang-zh">4月14号</span>
        </td>
        <td class="title">
            小朋友 & 成人，谎言给我们力量
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Siqi Liu, Shiyao Zhang
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <span class="lang-en"><a href="https://mp.weixin.qq.com/s/JK7RtVUUZ0z4YCU5zn4o4g" target="_blank">Podcast in Chinese</a></span>
            <span class="lang-zh"><a href="https://mp.weixin.qq.com/s/JK7RtVUUZ0z4YCU5zn4o4g" target="_blank">播客</a></span>
        </td>
    </tr>
</table>

<table id="Professor from physics school, Northwest University">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">14:00 - 15:00, April 23</span>
            <span class="lang-zh">4月23号 14:00 - 15:00</span>
        </td>
        <td class="title">
            TBD
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Professor from physics school, Northwest University
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>

<table id="Zitian Peng, Yuting Zheng">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">13:00 - 15:00, April 28</span>
            <span class="lang-zh">4月28号 13:00 - 15:00</span>
        </td>
        <td class="title">
            Thoughts on procrastination
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Zitian Peng, Yuting Zheng
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>

<table id="Yajing Liu">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">16:00 - 18:00, May 11</span>
            <span class="lang-zh">5月11号 16:00 - 18:00</span>
        </td>
        <td class="title">
            Story around 花甲部落
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Yajing Liu
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>

<table id="Zonghan Li">
    <tr>
        <td class="date" rowspan="3">
            <span class="lang-en">Week 12 or 13</span>
            <span class="lang-zh">第 12 或 13 周</span>
        </td>
        <td class="title">
            Swigger 的创业故事
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Zonghan Li
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>

<h2 class="lang-en">Agreed Presenters and Topics</h2>
<h2 class="lang-zh">确认的演讲者与主题</h2>

<table id="Bingqing Chen">
    <tr>
        <td class="date" rowspan="3"></td>
        <td class="title">
            LLM interaction, art activity
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Bingqing Chen
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>

<table id="Yuexin Li">
    <tr>
        <td class="date" rowspan="3">

        </td>
        <td class="title">
            Vision and path on the project
        </td>
    </tr>
    <tr>
        <td class="speaker">
            Yuexin Li
        </td>
    </tr>
    <tr>
        <td class="abstract">
            <!-- <span class="lang-en">Here&rsquo;s an abstract.</span>
            <span class="lang-zh">这是摘要。</span> -->
        </td>
    </tr>
</table>